$borders: #ccc;
$fg-colour: #333;
$fg-faded: lighten($fg-colour, 30%);
$fg-faded-more: lighten($fg-colour, 50%);
$tab-faded: #f7f7f7;

.markdown-editor {
  position: relative;

  .region-header {
    color: $fg-colour;

    .region-select {
      font-size: 14pt;
      margin: 6px 0;
      float: right;
    }

    .tabs {
      position: relative;

      .tab {
        display: inline-block;
        margin-left: 2px;
        border-radius: 4px 4px 0 0;
        border: 1px solid $borders;
        border-bottom: none;
        font-size: 12pt;

        &.active {
          font-weight: bold;

          .region-name, .remove-button {
            padding-top: 10px;
          }
        }

        &.inactive {
          color: $fg-faded;
          background: $tab-faded;

          .region-name:hover {
            color: $fg-colour;
          }

          .region-name {
            cursor: pointer;
          }
        }

        &.narrow {
          .region-name {
            padding-right: 4px;
          }
        }

        .region-name {
          display: inline-block;
          overflow: auto;
          padding: 8px 20px 6px 8px;
        }

        .remove-button {
          cursor: pointer;
          color: $fg-faded-more;
          padding: 8px 6px;
          float: right;

          &:hover {
            color: $fg-colour;
          }
        }
      }
    }
  }

  .editor {
    &.inactive {
      display: none;
    }
  }
}